/node_modules
/public/hot
/public/storage
/public/external_images
/pulic/.DS_Store
/storage/*.key
/vendor
/public/js/app.js
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
